
<h1></h1>
<%- messages() %>
<section id="hero">
    <div class="slideshow">
        <div class="slide">
            <img src="../images/france.jpeg" alt="a landscape picture of france">
        </div>
        <div class="slide">
            <img src="../images/korea.jpg" alt="a landscape picture of france">
        </div>
        <div class="slide">
            <img src="../images/canada.jpg" alt="a landscape picture of france">
        </div>
        <div class="slide">
            <img src="../images/japan.jpg" alt="a landscape picture of france">
        </div>
        <div class="slide">
            <img src="../images/mexico.jpg" alt="a landscape picture of france">
        </div>
    </div>
</section>
